# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.Python
venv/
.venv/

# Packaging
build/
dist/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local test artifacts
test.jpg
*.bin
